# Keycloak database
KC_DB_NAME=keycloak
KC_DB_USER=keycloak
KC_DB_PASSWORD=keycloak
KC_DB_PORT_PUBLIC=10001
KC_DB_PORT_INTERNAL=5432

# Keycloak
KC_HTTP_PORT=80
KC_PORT_PUBLIC=10000
## Keycloak admin
KC_ADMIN_USERNAME=admin
KC_ADMIN_PASSWORD=admin

# Mailpit
MP_SMTP_PORT_PUBLIC=9125
MP_WEBUI_PORT_PUBLIC=9120